.card{
    min-height: 350px;
    width: 290px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column;
    background-color: #f0f2f2;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s;
    overflow: hidden;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.imageContainer{
    width: 100%;
    min-height: 370px;
    background-color: #2d3340;
}


img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: #2d3340;
}


.title{
    color:#f25c78;
    font-weight:500;
    text-align: center;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    color: #2d3340;
}

.priceDiscounted{
    color:#f21b56;
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem 0rem 0.5rem 0rem;
}

.priceOriginal{
    color:darkgray;
    text-decoration: line-through;
    margin: 0rem;
}

.button{
    cursor: pointer;
    color: #f0f2f2;
    background-color: #bf0336;
    width: 120px;
    font-size:1.5rem;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover{
    border: 1px solid #bf0336;
    background-color: #2d3340;
    color: #bf0336;
}

.button:active{
    transform: scale(0.95);
}