.container{
    display: flex;
    flex-direction: column;
}

.closeModal{
    position: absolute;
    right: 15px;
    top: -1rem;
    width: 2rem;
    height:2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    background-color:#bf0336;
    color:#f0f2f2;
    cursor: pointer;

}

.title{
    color: #bf0336;
}

.titleEmpty{
    color: #bf0336;
    text-align: center;

}

.cart{
    display: flex;
    flex-direction: column;
    max-height: 350px;
    overflow: scroll;
}

.cartItems{
    display: grid;
    grid-template-columns: 10% 60% 15% 15%;
    padding: 10px;
    margin:10px 0px 10px 0px;
}

.cartAmount{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: fit-content;
}

.plusMinus{
    color: #f0f2f2;
    background-color: rgba(191,3,54,0.5);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 1rem;

}
.itemImage{
    width: 100%;
    height: auto;
}
.itemTitle{
    color: #282828;
    margin: 0rem 0rem 0rem 1rem;
    font-size: 1rem;
}
.itemAmount{
    color: #bf0336;
    font-size: 1rem;
    margin: auto 0.5rem;
    text-align: end;
}
.itemPrice{
    color: #bf0336;
    height: fit-content;
    margin: 0.5rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
}

hr{
    width: 100%;
    border-top: 2px solid #bf0336;
}

.price{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.priceField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priceField h3{
    color: #282828;
    font-size: 1rem;
}

.priceField .priceNum{
    color: #bf0336;
    font-size: 1rem;
    font-weight: 500;
}

.priceField .priceNumDiscount{
    color: grey;
    font-size: 1rem;
    font-weight: 500;
}

.priceField .label{
    color:grey;
}

.buttonArea{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.buttonArea button{
    cursor: pointer;
    margin-left: 5px;
    border-radius: 0.5rem;
    border-style: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #f21b56;
    color: #f0f2f2;
}

@media (max-width: 600px) {
    .itemTitle{
        font-size: 1rem;
    }

    .cartItems{
        align-items: center;
        justify-content: center;
    }

    .cartAmount{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .itemAmount{
        margin: 3px 0rem;
    }
}