.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkslategray;
    height: 150px;
}

.cartButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: antiquewhite;
    padding: 10px;
    cursor: pointer;
}


.cartButton h1{
    margin-right: 10px;
}

.cartBadge{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 50%;
}