.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #282828;
    height: 150px;
}

.logo{
    color: #f21b56;
    font-size: 2.5rem;
}

.cartButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: antiquewhite;
    padding: 10px;
    cursor: pointer;
}


.cartButton h1{
    margin-right: 5x;
}

.cartBadge{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 50%;
}

.logo{
    margin-left: 5px;
}