@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f25c78;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
